/* Utility */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Tags */
html {
    font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , 'メイリオ' , Meiryo , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

body {
    margin: 0; 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* Classes */

h2.top {
    margin: 20px 10px 10px 10px;
    padding: 0;
    font-size: 65px;
    color: #fff;
    word-break: keep-all;
    text-shadow: 0.05em 0.05em 2px rgb(23, 24, 16);
    text-align: center;
}

.page-outer {
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.page-inner {
    overflow: auto;
    height: 100%;
    width: 100vw;
    padding-right: -17px; 
}

.section-base {
    height: 100vh;
    padding: 0;
    width: 100vw;
    display: flex;
    color: white;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.section-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.section-about {
    background-color: rgb(50, 50, 50);
}

.section-projects1 {
    background-color: rgb(35, 35, 35);
}

.section-contact {
    background-color: rgb(50, 50, 50);
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.porfolio-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}

.portfolio-thumbnail-wrapper {
    overflow: hidden;
}

.portfolio-thumbnail {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transform: scale(1.0);
    transition: all 0.2s ease-in-out;
}

.portfolio-thumbnail:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.portfolio-page-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: visibility ease-out 0.5s, opacity 0.5s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-page-inner {
    border: solid 2px black;
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-sk  {background-color: rgb(35, 35, 35); }
.bg-hma {background-color: rgb(35, 35, 35); }
.bg-rr  {background-color: rgb(35, 35, 35); }
.bg-3js {background-color: rgb(35, 35, 35); }
.bg-ts  {background-color: rgb(35, 35, 35); }
.bg-mt  {background-color: rgb(35, 35, 35); }
.bg-pc  {background-color: rgb(35, 35, 35); }
.bg-za  {background-color: rgb(35, 35, 35); }
.bg-gvn {background-color: rgb(35, 35, 35); }
.bg-jf  {background-color: rgb(35, 35, 35); }
.bg-ip  {background-color: rgb(35, 35, 35); }
.bg-pn  {background-color: rgb(35, 35, 35); }

.portfolio-page-visible {
    visibility: visible;
    transition: display linear 1s, visibility ease-out 0s, opacity 0.5s;
    opacity: 1;
}

.portfolio-page-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


.flex-dir-column {
    flex-direction: column;
}

.flex-just-center {
    justify-content: center;
}

.subtext {
    font-size: 10px;
    line-height: 15px;
    margin: 2px 0;
}

_:-ms-lang(x), .portfolio-page-section {
    justify-content: space-around;
    padding: 0 50px;
    box-sizing: border-box;
}

.portfolio-x-button {
    position: absolute;
    top: 100px;
    right: 100px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 40px;
    line-height: 40px;
    transition: all 0.1s ease-in-out;
}

.portfolio-x-button:hover {
    transition: all 0.1s ease-in-out;
    color: rgb(255, 255, 255);
}

.height-60 {height: 60%;}
.height-40 {height: 40%;}
.flex-60 {flex-basis: 55%;}
.flex-40 {flex-basis: 35%;}
.clamp-width-80 {
    width: 80%;
}

.portfolio-video-wrapper {
    max-width: 750px;
    border: solid 2px black;
}

.portfolio-info-wrapper {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-info-section {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px black;
    padding: 10px 12px;
    box-sizing: border-box;
    overflow-y: auto;
}

.portfolio-info-section p {
    margin: 0.4em 0;
}

.portfolio-info-section a {
    color: rgb(0, 255, 234);
}

.portfolio-info-section h3 {
    margin: 0;
    border-bottom: 2px solid white;
    line-height: 1.17em;
    margin-bottom: 0.8em;
}

.overlay-lighten {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.overlay-lighten:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

#tn-sk {background-image: url('/cdn/images/thumbs/sk_thumb.jpg')}
#tn-hma {background-image: url('/cdn/images/thumbs/hma_thumb.jpg')}
#tn-rr {background-image: url('/cdn/images/thumbs/rr_thumb.jpg')}
#tn-3js {background-image: url('/cdn/images/thumbs/3js_thumb.jpg')}
#tn-ts {background-image: url('/cdn/images/thumbs/ts_thumb.jpg')}
#tn-mt {background-image: url('/cdn/images/thumbs/mt_thumb.jpg')}
#tn-pc {background-image: url('/cdn/images/thumbs/pc_thumb.jpg')}
#tn-za {background-image: url('/cdn/images/thumbs/za_thumb.jpg')}
#tn-gvn {background-image: url('/cdn/images/thumbs/gvn_thumb.jpg')}
#tn-jf {background-image: url('/cdn/images/thumbs/jf_thumb.jpg')}
#tn-ip {background-image: url('/cdn/images/thumbs/ip_thumb.jpg')}
#tn-pn{background-image: url('/cdn/images/thumbs/pn_thumb.jpg')}

.contacts-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.contacts-section {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.contacts-section p {
    margin: 0px;
    font-size: 14px;
}


.contacts-image {
    width: 32px;
    height: 32px;   
}

.contacts-link {
    width: 32px;
    height: 32px;   
    margin: 0 5px; 
}

.contacts-link-text {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 43, 167);
}

.vn-textbox {
    border: solid 2px black;
    width: 100%;
    padding: 40px 45px;   
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 40px;
    height: 20%;
    display: flex;
    visibility: visible;
    align-items: flex-start;
}

.vn-text {
    transition: visibility 0s, opacity 1s ease-in;
    word-break: break-word;
}

.vn-arrows {
    font-size: 40px;
    position: absolute;
    right: 10px;
    bottom: -5px;
    display: flex;
}

.vn-arrow {
    cursor: pointer;
}

.vn-arrow:active {
    color: rgb(0, 255, 242);
}

.vn-name {
    text-align: center;
    top: 0;
    width: 100%;
    font-size: 35px;
    margin: 15px 15px 0 15px;
}

.vn-image img {
    max-width: 80vw;
    max-height: 60vh;
}

.link-ffbox {
    color: rgb(255, 208, 0);
}

.content-wrapper {
    width: 1200px;
    max-width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-indicator {
    position: absolute;
    font-size: 40px;
    color: white;
    z-index: 10;
    margin: 20px 0;
    text-shadow: 0.05em 0.05em 2px rgb(23, 24, 16);
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
}

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden; 
}

.video-wrapper video {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* Utility */
.non-active {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.hidden {
    display: none;
}

.anchor-top-left {
    top: 0;
    left: 0;
}

.anchor-bottom-left {
    bottom: 0;
    left: 0;
}

/* Media queries */
@supports (-ms-ime-align:auto) {
    .content-wrapper {
        justify-content: space-around;
    }
}

@media only screen and (max-height: 850px) {     
    h2.top {
        font-size: 50px;
    }
}

@media only screen and (max-width: 700px), (max-height: 600px) {     
    h2.top {
        font-size: 40px;
    }

    .section-content {
        width: 90vw;
        padding: 4px 8px;   
    }

    .content-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px), (max-height: 700px) {     
    .vn-name {
        font-size: 25px;
        margin: 10px 10px 0 10px;
    }

    .vn-textbox {
        font-size: 30px;
        padding: 20px;   
    }    

    .contacts-section p {
        font-size: 12px;
    }
    
    
    .contacts-image {
        width: 16px;
        height: 16px;   
    }
    
    .contacts-link {
        width: 16px;
        height: 16px;    
        margin: 0 4px; 
    }
}

@media only screen and (max-width: 750px){     
    .vn-name {
        font-size: 15px;
        margin: 5px 5px 0 5px;
    }

    .vn-textbox {
        font-size: 20px;
        padding: 10px;   
    }
}

@media only screen and (max-width: 500px), (max-height: 600px) {     
    .vn-name {
        font-size: 15px;
        margin: 5px 5px 0 5px;
    }
    .vn-image img {
        max-height: 50vh;
    }
    .vn-textbox {
        font-size: 16px;
        padding: 10px;   
    }
}

@media (max-aspect-ratio: 5/4) {
    .content-indicator {
        display: none;
    }
}

@media (max-aspect-ratio: 5/8) {
    .vn-textbox {
        height: 25%;
    }
}

@keyframes fadeInOut {
    0%   { opacity:1; }
    50%  { opacity:0.1; }
    100% { opacity:1; }
}
@-o-keyframes fadeInOut{
    0%   { opacity:1; }
    50%  { opacity:0.1; }
    100% { opacity:1; }
}
@-moz-keyframes fadeInOut{
    0%   { opacity:1; }
    50%  { opacity:0.1; }
    100% { opacity:1; }
}
@-webkit-keyframes fadeInOut{
    0%   { opacity:1; }
    50%  { opacity:0.1; }
    100% { opacity:1; }
}

.fade-in-out {
    -webkit-animation: fadeInOut 2s infinite;
    -moz-animation: fadeInOut 2s infinite;
    -o-animation: fadeInOut 2s infinite;
    animation: fadeInOut 2s infinite;
}

/* img-gallery */

.img-gallery {
    max-width: 750px;
    width: 100%;
    height: 422px;
    background-color: rgb(1, 4, 10);
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    display: none;
    margin-top: 19px;
}

.img-gallery-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.img-gallery img {
    display: block;
    height: auto;
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    border-style: none;
}

img.show-element {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.img-gallery-button.show-element {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.img-gallery-button {
    position: absolute;
    width: 20%;
    font-size: 80px;
    line-height: 80px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px black;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.img-gallery-button.left-button {
    left: 0;
    background: none;
    filter: none;
    transition: all 0.2s ease-in-out;
}

.img-gallery-button.right-button {
    right: 0;
}

.img-gallery:-webkit-full-screen .img-gallery-button {font-size: 120px; line-height: 120px;}
.img-gallery:-moz-full-screen .img-gallery-button {font-size: 120px; line-height: 120px;}
.img-gallery:-ms-full-screen .img-gallery-button {font-size: 120px; line-height: 120px;}
.img-gallery:fullscreen .img-gallery-button {font-size: 120px; line-height: 120px;}