ul.smallindent {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , 'メイリオ' , Meiryo , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
    background-color: #ffffff;
}
footer {
    display: table-row;
    height: 0;
}

.footer-wrapper {
    background-color: #0b0c10;
    color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

footer p {
    text-align: center;
    padding: 0;
    text-decoration: none;
    margin: auto;
    font-size: 14px;
}

#footer-icons {
    display: flex;
}

a {
    padding: 0;
    text-decoration: none;
    margin: 0;
}

b {
    font-weight: 600;
}

hr {
    background-color: #0b0c10;
    height: 4px;
    border-style: none;
}

/* Splash screen menu box */
.splash_control {
    color: #ffffff;
    font-size: 36px;
    line-height: 2em;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    word-break: keep-all;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-break-control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.word-break-control-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.word-break-word {
    padding: 0.2em;
    color: white;
    font-size: 72px;
    font-weight: 600;
}

.splash_control p {
    font-size: 28px;
    line-height: 2em;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1050px) {
    .word-break-control {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .word-break-control-inner {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {
    .word-break-word {
        font-size: 50px;
        line-height: 50px;
    }
    .splash_control p {
        font-size: 22px;
        line-height: 2em;
    }
}

/* Floating language toggle */
.langauge_select_button {
    color: #ffdbff;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    text-align: right;
}

.splash_control h1 {
    margin: 50px 0 0 0;
    padding: 0;
}


/* Button */
.splashbutton {
    font-size: 24px;
    line-height: 1.5em;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    border: solid 0.2vw #ffffff;
    display: inline-block;
    margin: 2vw;
    padding: 0.4em 1em;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.splashbutton:hover,
.splashbutton.hover {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border-color: #f0f0f0;
    background: #f0f0f0;
    color: #06001b;
    text-shadow: none;
}
.splashbutton:active,
.splashbutton.active {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    text-shadow: none;
    border-color: #ffffff;
    background: #ffffff;
    color: #06001b;
}

.splashbutton:focus {
    outline: none
}

@media screen and (max-width: 1200px) {
    .body-content {
        max-width: 500px;
    }

    footer p {
        max-width: 400px;
    }
}

#page_body {
    margin: 0;
    padding: 0;
    background-color: #fff;	
    transition: all .5s;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

h2 {
    margin: 0;
    font-size: 26px;
    color: #0b0c10;
    text-align: center;
    /* word-break: keep-all; */
}

h3 {
    margin: 0;
    font-size: 20px;
    color: #0b0c10;
}

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 1);
}

.video-wrapper video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-fader {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all 2s ease-in-out;
}

.black-overlay {
    background-color: rgb(2, 5, 14) !important;
    transition: all 2s ease-in-out;
}

.navbar {
    background-color: #0b0c10;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 58px;
}

.navbar-item {
    font-size: 18px;
    line-height: 18px;
    color: white;
    padding: 20px 20px;
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .navbar-item {
        width: 50%;
    }

    .nav-dropdown {
        width: 100% !important;
        border-radius: 0 0 10px 10px !important;
        text-align: center !important;
    }

    .padding-top-info {
        padding-top: 272px !important;
    }
    
    .padding-top-lang {
        padding-top: 142px !important;
    }
}


.bg-fade-10 {
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-fade-20 {
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-fade-30 {
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-fade-10:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.bg-fade-20:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-fade-30:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

.body-content {
    max-width: 1280px;
    margin: auto;
    padding: 78px 20px 20px 20px;
    font-size: 16px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.nav-dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 280px;
    background-color: #0b0c10;
    border-radius: 0 0 0 20px;
    transition: all 0.3s ease-in-out;
}

.nav-dropdown a {
    color: white;
    padding: 20px;
}

.nav-dropdown a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-dropdown-origin-nav {
    top: -157px;
}

.nav-dropdown-origin-lang {
    top: -20px;
}

.visible {
    top: 56px;
}

.text-section {
}

.text-section p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 10px 0;
}

.text-section a {
    color: #45a29e;
}