<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/favicon/apple-touch-icon.png') }}">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon/favicon.ico') }}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='icons/favicon/safari-pinned-tab.svg') }}" color="#087dff">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#d03d3d">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/onepage.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="page-outer">
        <div class="page-inner" id="scroll-target">
            <div id="s0" class="section-base section-top">
                <div class="video-wrapper" center no-repeat>
                    <video id="splash-video" autoplay muted loop>
                        <source src="{{ url_for('static', filename='video/splash-veryslow-cr22-720.mp4') }}" type="video/mp4">
                    </video>
                </div>
                <div class="content-indicator anchor-bottom-left noselect" id="content-indicator">自己紹介▼</div>
                <h2 class="top noselect">スタントン<span style="font-size: 0;"> </span>ジェームズ<span style="font-size: 0;">
                    </span>瑛之助</h2>
                <h2 class="top noselect">ゲーム開発者</h2>
            </div>
            <div id="s1" class="section-base section-about">
                <div class="content-indicator anchor-bottom-left noselect" id="content-indicator">ポートフォリオ▼</div>
                <div class="content-wrapper">
                    <div class="vn-image">
                        <img src="{{ url_for('static', filename='images/headshot-1.jpg') }}">
                    </div>
                    <div class="vn-name">スタントン ジェームズ 瑛之助</div>
                    <div class="vn-textbox noselect">
                        <div class="vn-text" id="vnt-0">
                            初めまして！<br>スタントンジェームズ瑛之助と申します。
                        </div>
                        <div class="vn-text hidden" id="vnt-1">
                            ゲームが一番効果的で最高なエンターテインメント媒体だと強く信じております。
                        </div>
                        <div class="vn-text hidden" id="vnt-2">
                            開発に参加させて頂いたゲームが何千の方々に喜びや感動させることができる夢があります。
                        </div>
                        <div class="vn-text hidden" id="vnt-3">
                            ２０２０年の卒業後エンジンかゲームプレイプログラミングに集中しゲーム開発者として勤めて頂きたいと思っております。
                        </div>
                        <div class="vn-text hidden" id="vnt-4">
                            なお、物語の展開、キャラの創造、アートディレクションとサウンドデザインの仕事を経験させて頂ければ嬉しいと思っております。
                        </div>
                        <div class="vn-text hidden" id="vnt-5">
                            イギリスのキングストン大学<a class="link-ffbox" href="https://www.kingston.ac.uk/undergraduate-course/computer-games-programming/"
                                target="_blank">「科学、エンジニアリングとコンピューティング」</a>学部コンピューターゲームプログラミング科の学生です。
                        </div>
                        <div class="vn-text hidden" id="vnt-6">
                            現在ソニー・インタラクティブエンタテインメントの本社でインターンシップを勤めて頂いております。
                        </div>
                        <div class="vn-text hidden" id="vnt-7">
                            プログラミング言語の専門はＣ＋＋、Ｃ＃とＰＹＴＨＯＮでゲームエンジンの専門はＵＮＲＥＡＬとＵＮＩＴＹです。
                        </div>
                        <div class="vn-text hidden" id="vnt-8">
                            ゲームを遊んだり、考えたり、作ったりしていない時には<a class="link-ffbox" href="http://utsunomiya.hatenadiary.jp/entry/2017/10/18/222800"
                                target="_blank">見ず知らずの音楽</a>を聴いたり、美味しいものを食べたりすることを楽しんでおります。
                        </div>
                        <div class="vn-text hidden" id="vnt-9">
                            よろしくお願いします！
                        </div>
                        <div class="vn-arrows fade-in-out">
                            <div class="vn-arrow noselect non-active" id="vn-arrow-left">◀</div>
                            <div class="vn-arrow noselect" id="vn-arrow-right">▶</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="s2" class="section-base section-projects1">
                <div class="content-indicator anchor-bottom-left noselect" id="content-indicator">詳細情報▼</div>
                <div class="porfolio-wrapper">
                    <div class="portfolio-thumbnail tn-sk">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-fma">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-rr">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-3js">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-ts">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-mt">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-pc">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-za">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-gvn">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-jf">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-ip">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail tn-pn">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                </div>
            </div>
            <div id="s3" class="section-base section-contact">
                <div class="contacts-box">
                    <div class="contacts-section">
                        <a href="https://www.linkedin.com/in/james-stanton/" class="contacts-link">
                            <img class="contacts-image" src="{{ url_for('static', filename='icons/linkedin_light.png') }}"
                                alt="LinkedIn">
                        </a>
                        <a href="https://github.com/SteinLabs" class="contacts-link">
                            <img class="contacts-image" src="{{ url_for('static', filename='icons/github_light.png') }}"
                                alt="GitHub">
                        </a>
                        <a href="mailto:jestanton@outlook.com" class="contacts-link">
                            <img class="contacts-image" src="{{ url_for('static', filename='icons/email_light.png') }}"
                                alt="メール">
                        </a>
                    </div>
                    <div class="contacts-section">
                        <p>このサイトは<a href="http://flask.pocoo.org/" class="contacts-link-text">Flask</a>で作成しました</p>
                    </div>
                    <div class="contacts-section">
                        <p>&copy; Copyright 2018 James Einosuke Stanton</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/zenscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/onepage.js') }}"></script>
</body>

</html>