<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/favicon/apple-touch-icon.png') }}">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon/favicon.ico') }}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='icons/favicon/safari-pinned-tab.svg') }}" color="#087dff">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#d03d3d">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/onepage.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plyr.css')}}">
    <script src="{{ url_for('static', filename='js/plyr.min.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="page-outer">
        <div class="page-inner" id="scroll-target">
            <div id="s0" class="section-base section-top">
                <div class="video-wrapper" center no-repeat>
                    <video id="splash-video" autoplay muted loop>
                        <source src="{{ url_for('static', filename='video/splash-veryslow-cr22-720.mp4') }}" type="video/mp4">
                    </video>
                </div>
                <div class="content-indicator anchor-bottom-left noselect" id="content-indicator">自己紹介▼</div>
                <h2 class="top noselect">スタントン<span style="font-size: 0;"> </span>ジェームズ<span style="font-size: 0;">
                    </span>瑛之助</h2>
                <h2 class="top noselect">ゲーム開発者</h2>
            </div>
            <div id="s1" class="section-base section-about">
                <div class="content-indicator anchor-bottom-left noselect" id="content-indicator">ポートフォリオ▼</div>
                <div class="content-wrapper">
                    <div class="vn-image">
                        <img src="{{ url_for('static', filename='images/headshot-1.jpg') }}">
                    </div>
                    <div class="vn-name">スタントン ジェームズ 瑛之助</div>
                    <div class="vn-textbox noselect">
                        <div class="vn-text" id="vnt-0">
                            初めまして！<br>スタントンジェームズ瑛之助と申します。
                        </div>
                        <div class="vn-text hidden" id="vnt-1">
                            ゲームが一番効果的で最高なエンターテインメント媒体だと強く信じております。
                        </div>
                        <div class="vn-text hidden" id="vnt-2">
                            開発に参加させて頂いたゲームが何千の方々に喜びや感動させることができる夢があります。
                        </div>
                        <div class="vn-text hidden" id="vnt-3">
                            ２０２０年の卒業後エンジンかゲームプレイプログラミングに集中しゲーム開発者として勤めて頂きたいと思っております。
                        </div>
                        <div class="vn-text hidden" id="vnt-4">
                            なお、物語の展開、キャラの創造、アートディレクションとサウンドデザインの仕事を経験させて頂ければ嬉しいと思っております。
                        </div>
                        <div class="vn-text hidden" id="vnt-5">
                            イギリスのキングストン大学<a class="link-ffbox" href="https://www.kingston.ac.uk/undergraduate-course/computer-games-programming/"
                                target="_blank">「科学、エンジニアリングとコンピューティング」</a>学部コンピューターゲームプログラミング科の学生です。
                        </div>
                        <div class="vn-text hidden" id="vnt-6">
                            現在ソニー・インタラクティブエンタテインメントの本社でインターンシップを勤めて頂いております。
                        </div>
                        <div class="vn-text hidden" id="vnt-7">
                            プログラミング言語の専門はＣ＋＋、Ｃ＃とＰＹＴＨＯＮでゲームエンジンの専門はＵＮＲＥＡＬとＵＮＩＴＹです。
                        </div>
                        <div class="vn-text hidden" id="vnt-8">
                            ゲームを遊んだり、考えたり、作ったりしていない時には<a class="link-ffbox" href="http://utsunomiya.hatenadiary.jp/entry/2017/10/18/222800"
                                target="_blank">見ず知らずの音楽</a>を聴いたり、美味しいものを食べたりすることを楽しんでおります。
                        </div>
                        <div class="vn-text hidden" id="vnt-9">
                            よろしくお願いします！
                        </div>
                        <div class="vn-arrows fade-in-out">
                            <div class="vn-arrow noselect non-active" id="vn-arrow-left">◀</div>
                            <div class="vn-arrow noselect" id="vn-arrow-right">▶</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="s2" class="section-base section-projects1">
                <div class="content-indicator anchor-bottom-left noselect" id="content-indicator">情報▼</div>
                <div class="portfolio-page-wrapper" id="sk">
                    <div class="portfolio-x-button noselect">🗙</div>
                    <div class="portfolio-page-inner bg-sk">
                        <div class="portfolio-page-section clamp-width-80 height-60">
                            <div class="portfolio-video-wrapper">
                                <video poster="" class="vid" id="vp-sk">
                                    <source src="{{ url_for('static', filename='video/sktd.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="portfolio-page-section height-40">
                            <div class="portfolio-info-wrapper flex-60">
                                <div class="portfolio-info-section">
                                    <h3>Silent Knight「サイレント・ナイト」とは？</h3>
                                    <p>Silent KnightはUnityとC#で創造したスマホ「特にアンドロイド」ゲームである。</p>
                                    <p>果てしないダンジョンを自動的に探検し、ナイトはプレイヤさんの指導と入力に操られ色んなモンスターと闘いながらダンジョンの奧を目指す。各ステージはシートを用いる疑似ランダム手続き的ダンジョンなので、数多くで独特である。</p>
                                    <p>Silent Knightには沢山なRPGゲーム的な機能「経験値システム、普通と必殺技、<a target="_blank" href="https://gfycat.com/tediousconsideratebeagle">画面は鏡のように壊されるエフェクト</a>等」を含めている。</p>
                                </div>
                            </div>
                            <div class="portfolio-info-wrapper flex-40">
                                <div class="portfolio-info-section">
                                    <h3>技術の詳細</h3>
                                    <div class="portfolio-info-section-text">
                                        <p><b>Unity「C#・ShaderLab」</b></p>
                                        <p>マルチスレッドのA*パスファインダーシステム、シードで手続き的ステージ生成、日本語と英語のローカライズ、経験値とレベルシステ、アンドロイド最適化と一層。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-page-wrapper" id="fma">
                    <div class="portfolio-x-button noselect">🗙</div>
                    <div class="portfolio-page-inner bg-fma">
                        <div class="portfolio-page-section clamp-width-80 height-60">
                            <div class="portfolio-video-wrapper">
                                <video poster="" class="vid" id="vp-fma">
                                    <source src="{{ url_for('static', filename='video/hma.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="portfolio-page-section height-40">
                            <div class="portfolio-info-wrapper flex-60">
                                <div class="portfolio-info-section">
                                    <h3>Full Metal Arnold「フルメタル・アーノルド」とは？</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            <div class="portfolio-info-wrapper flex-40">
                                <div class="portfolio-info-section">
                                    <h3>技術の詳細</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-page-wrapper" id="rr">
                    <div class="portfolio-x-button noselect">🗙</div>
                    <div class="portfolio-page-inner bg-rr">
                        <div class="portfolio-page-section clamp-width-80 height-60">
                            <div class="img-gallery noselect" id="ig-rr">
                                <script src="{{ url_for('static', filename='js/img-gallery.js') }}" async></script>
                                <div class="img-gallery-button noselect left-button show-element">‹<div style="width: 80px;"></div></div>
                                <div class="img-gallery-button noselect right-button show-element"><div style="width: 80px;"></div>›</div>
                                <div class="img-gallery-inner">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" class="show-element" data-source="https://lh3.googleusercontent.com/3tQEGR3IH5VxJe1kBBCT7YTDjVSDptdim9R7joHcs0ORTs1ykVclP5nXCm5gdCElujqaw-QMIYRmjPpW2NuoFvBN21QQcy7EwVulUrbGjT37K6Ca1MwM8Jl59cMJE38y_aEJfYUarg=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/7XBJ1zzy0p_1hhIMZOOJ8a3tuLAYs3Sbdi_T9ZwzjhowH1YAxW5W2tChZFqNUylrTz2q-frenY_ZVpGJES3Xcf112qexSgwECm395sEL-_u_qZi8GU_iQk_0pgznsmTn4Qs5lM9jbw=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/a7nJcJJC-UdLl4Iw_B3BJquN9o7hlnLxKERLkxVWnKh7ZgLSr4HcO5bTzn_o0PhA3asGrrrTHvX6UuylePlJ0IRaoiYr1ZRURdm6-ETMC4FElaihK4Z5UCYmLGYT6kMK2__s6nBmHg=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/GApTWB1kDQ_6VTzXdLYejj8F0hJDL9N3QUFp1apEFPLdX2JlVZlI4bk1mRb-gwurzCnVyXBz-_maKV81pR1p8gR7OzRMwCU-hJKDYmNUsr3GIDgcOt_3RuOYH5mJYT17PGxcC6QwCg=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/LFO4BpL2aLTU1XNXafOdBRBj6TO1G81NqkgG_-m-CkRKn-8GiqUkZIMCD3pU1RebRIPBNVR8Klq4_Ln96fNAe6B_5MzUsOln6TzcrpIp9funeilQbJGgTmr0nat4ZGrHWxFstOxP7w=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/-g_zonLcjb5IMSKIm8eVBgBBdDxVRhwgUQDP9CDarsHl_aaFVhCuuV59dhVE27X7KUrrvzGtLiQCuXNocFYSf_yUC4_pqD8AyLt01DVbMJ8vev3nqfmLMCOGi4HXBVKizyv3OFifKQ=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/gsoz3cZtRFhHtOGKAH_RApjQSEZUHpr5VFUx-eyhViEj3ljR5s9L6XLxq5gK0n3jCedAQrauwaFTYaO7ZTsTvJIl5C2UOaWzURMfD51NasdMJVwg2TgccMU9rHYkzxBrPZ9k6vQoOw=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/b38dy2tsq5BnpfMacIahp1-rpMJD9R1H0x9JQsccxqVEH55sdtcOtoclzPix5I_LQYRubUdlkIlq8ui7oQ11UQfG1UAXNtRhkndytojNpNzYbZvnDtHyUPu8e9sH6K7DK0qGd3aBlA=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/nD0FS3n3wM7eCKUoCUMF-odHKYCx1UJUwja3aHLqjipuhrIekwcSJIgJ2uC8eXf_aM3akgfqByzqF_lPdx0r1r8dUbq6sULCI6i5gS_H1kdh4YSqmi5Euufj9e2YyfSp2I_zhepJrw=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/8ypWzEVGZ8-P1yA-1b-NoZbxcGpkVnNFctMeeYMsa3Wq0VrwE1KGunQLw6Q6E62qcuEWYoU1x7f7SF7-prpxDtwdqyi2I5TxQScY91b4HE5DXt7nru9eZSgVO9OOWtPi8EbHfzdSBQ=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/fVgXIDoffuP5IIUlur6NPFPYOlQCa6jlDOMke4mrT_4lOLAUJvadEc1tFCZpjl0Wo0Riu4poG6QKfnXXaWtCML4o5gUMuxlVpyOYfRA1eZFCSfiU5vUi0LqIezfNekz_lkCrvm282A=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/Iy7IoEUipge4Yl8cDDv_u5u1lmtyQT6EfhK0XpQhyOoClsoKxJVhlT_d8GsOusDzi8zUmgN5gqFy-suORjdbYxkE1YJI8ZxC_6oTOCLI8JBi_EkgL5DqpQOJlUrhRbckJumE-lrRZg=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/BjJ1RflcGeziK_VQsSF4gui694uskY0sCpZGq_PNOLzAZxmToZwp9r8civUGJ5JBY0RT5_VxCilvTWPuebhfYm9bBSA0-U-7ZXctwelkAJzL2-BP2syB-mL6VoR7YFH8EJbFkG2d3g=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/k71-OnxwhwSJEm_eWCeaBQbqFDBsaeNwXCXklJdd2RaBRVdEk7jf1JYnZyqSU2W3Fc1JL80wWQ9GNiG6V9Gz6-3O5YIxhev_4pCjv27O2JjRCoVA9C7Rb2QGNOkc3nNqeJ1QM4Pc6A=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/jPbm8Mncsi36OL-AZ9gCYsoJiij_sT0q6v-VuM5j2vVKi0NcBTvMAEqYbV-S3zPz4PyejTNwaD4D5lmn3ql_yNn6OOWPgDQDjsNZsRaWJwOjCs1mkNxAlFvAbIu0RfKFyyT_GZ7ptA=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/6fh2w2xhiuHQ6ULJS92ZCa-4LUnTdCvnmY3wyKheRLAyDyITlL_aHZSQh2708gJkwSobipNmcCuYlr0XVUl3crLsXA-NS8cOq-GFOZv462falP5Y8uXtSnIUmWRC3woPmqmwgreetQ=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/XVdBjmxPEUKmAcDC3FTtbSuUpeNQz0rXUg91TzcI5hKRoQ2HQlOVG4fJ98Y4Xe7dFyQ7sFvnFfPYvStieQ3xfk6C_v7AkZ9syyFcTiQ-ThtGe346PYlIQ3SnSWakaxXMSB0TNyX9ew=w1280-h720">
                                    <img src="{{ url_for('static', filename='icons/1x1.png') }}" data-source="https://lh3.googleusercontent.com/1UXu_gNYtECxC2a99wmtU0yA0hHKyBld2K_2km2DZ956-1dIZSPGCAp24zAcM3FmzflzGP6DRNl35cMj3OaNavF4IBRQoJw2SMh3S1JnCkAgz035bD1k07P_DRm-xwxqV6ZVgRtrnw=w1280-h720">
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-page-section height-40">
                            <div class="portfolio-info-wrapper flex-60">
                                <div class="portfolio-info-section">
                                    <h3>Rapture Records「ラプチャー・レコード」とは？</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            <div class="portfolio-info-wrapper flex-40">
                                <div class="portfolio-info-section">
                                    <h3>技術の詳細</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-page-wrapper" id="3js">
                    <div class="portfolio-x-button noselect">🗙</div>
                    <div class="portfolio-page-inner bg-3js">
                        <div class="portfolio-page-section clamp-width-80 height-60">
                            <div class="portfolio-video-wrapper">
                                <video poster="" class="vid" id="vp-3js">
                                    <source src="{{ url_for('static', filename='video/3js.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="portfolio-page-section height-40">
                            <div class="portfolio-info-wrapper flex-60">
                                <div class="portfolio-info-section">
                                    <h3>THREEJS OpenGL Demo「3JS・オープンジーエル・デモ」とは？</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            <div class="portfolio-info-wrapper flex-40">
                                <div class="portfolio-info-section">
                                    <h3>技術の詳細</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="porfolio-wrapper">
                    <div class="portfolio-thumbnail" id="tn-sk">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-fma">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-rr">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-3js">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-ts">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-mt">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-pc">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-za">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-gvn">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-jf">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-ip">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                    <div class="portfolio-thumbnail" id="tn-pn">
                        <div class="overlay-lighten noselect"></div>
                    </div>
                </div>
            </div>
            <div id="s3" class="section-base section-contact">
                <div class="contacts-box">
                    <div class="contacts-section">
                        <a href="https://www.linkedin.com/in/james-stanton/" class="contacts-link">
                            <img class="contacts-image" src="{{ url_for('static', filename='icons/linkedin_light.png') }}"
                                alt="LinkedIn">
                        </a>
                        <a href="https://github.com/SteinLabs" class="contacts-link">
                            <img class="contacts-image" src="{{ url_for('static', filename='icons/github_light.png') }}"
                                alt="GitHub">
                        </a>
                        <a href="mailto:jestanton@outlook.com" class="contacts-link">
                            <img class="contacts-image" src="{{ url_for('static', filename='icons/email_light.png') }}"
                                alt="メール">
                        </a>
                    </div>
                    <div class="contacts-section">
                        <p>このサイトは<a href="http://flask.pocoo.org/" class="contacts-link-text">Flask</a>で作成しました</p>
                    </div>
                    <div class="contacts-section">
                        <p>&copy; Copyright 2018 James Einosuke Stanton</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/onepage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plyr-helper.js') }}"></script>
</body>

</html>