<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page_title }}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='cdn/icons/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='cdn/icons/favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='cdn/icons/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='cdn/icons/favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='cdn/icons/favicon/safari-pinned-tab.svg') }}" color="#087dff">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#d03d3d">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="page_body">
        <div class="navbar">
            <a href="{{ self_url }}{{ query_toggle_lang }}">{{ button_lang }}</a>
            <div class="dropdown">
                <button class="dropbtn">{{ nav_dropdown_text }} 
                    <i>▼</i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('index') }}{{ query_current_lang }}">{{ link_text_index }}</a>
                    <a href="{{ url_for('about') }}{{ query_current_lang }}">{{ link_text_about_me }}</a>
                    <a href="{{ url_for('contact') }}{{ query_current_lang }}">{{ link_text_contact }}</a>
                </div>
            </div> 
            <a style="float:left" href="{{ self_url }}">{{ site_name }}</a>
        </div>
        <div class="body-content">
            <h2>{{ content_title|safe }}</h2>
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <div id="footer-icons">
                    <a href="{{ url_github }}">
                        <img src="{{ url_for('static', filename='cdn/icons/github_light.png') }}" alt="GITHUB">
                    </a>
                    <a href="{{ url_linkedin }}">
                        <img src="{{ url_for('static', filename='cdn/icons/linkedin_light.png') }}" alt="LINKEDIN">
                    </a>
                    <a href="mailto:{{ email_address }}">
                        <img src="{{ url_for('static', filename='cdn/icons/email_light.png') }}" alt="EMAIL">
                    </a>
                </div>
                <p>&copy; {{ current_year }} {{ name }}</p>
                <p>
                    <a href="http://flask.pocoo.org/">{{ powered_by_flask|safe }}</a>  
                </p>
            </footer>
        </div>
</body>
</html>