<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/cdn/css/onepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="img-gallery-section-wrapper">
        <div class="img-gallery" id="img-gallery-1">
            <div class="img-gallery-button noselect left-button">‹　</div>
            <div class="img-gallery-button noselect right-button">　›</div>
            <div class="img-gallery-inner">
                <img src="../static/cdn/icons/1x1.png" class="show-img" data-source="http://www.tldseller.com/HD%20TEST%20PATTERN%20LOGO.png">
                <img src="../static/cdn/icons/1x1.png" data-source="http://i.imgur.com/lZOZWTa.png">
                <img src="../static/cdn/icons/1x1.png" data-source="http://gallery.greedykidz.net/get/613298/HD_Test_1080p_vs_720p_vs_DVD_3.JPG">
            </div>
        </div>
    </div>
    <script src="../static/cdn/js/img-gallery.js"></script>
</body>

</html>