{% extends "page_template.html" %}
{% block content %}
<h2>{{ content_title|safe }}</h2>
<div class="text-section">
    <h4>
        I strongly believe that video games are the most powerful entertainment medium to have ever existed. I dream of bringing joy and catharsis to thousands 
        of people through the games that I help to create.
    </h4>
    <p>
        After graduating in 2020 I hope to work as a game developer, focusing on engine or gameplay programming. I also hope to one day have a chance to be 
        involved in some of the more creative aspects of game creation such as story telling, character development, art direction and sound design.
    </p>
    <p>
        While I'm usually a <a href="https://www.kingston.ac.uk/undergraduate-course/computer-games-programming/">
        Computer Games Programming</a> student at <a href="https://www.kingston.ac.uk/">Kingston University</a>, England, I'm
        currently working as an intern for Sony Interactive Entertainment in Tokyo, Japan.
    </p>
    <p>
        My primary programming languages are C++, C# and Python, and my favourite game engines are UE4 and Unity.
    </p>
    <p>
        When I'm not playing, making, or thinking about video games, I enjoy listening to <a href="https://www.youtube.com/watch?v=vDz7t76N0No">obscure 
        sub-genres of music</a>, and eating good food.
    </p>
    <br>
    <h2 style="color: rgb(22, 63, 150)">
        &#9733;<br>This site is currently under construction. Thank you for your patience<br>&#9733;
    </h2>
</div>
{% endblock %}