{% extends "page_template.html" %}
{% block content %}
<h2>{{ content_title|safe }}</h2>
<div class="text-section">
    <h4>
        ゲームが一番効果的で最高なエンターテインメント媒体だと強く信じております。開発に参加させて頂いたゲームが何千の方々に喜びや感動させることができる夢が私の胸にあります。
    </h4>
    <p>
        ２０２０年の卒業後エンジンかゲームプレイプログラミングに集中しゲーム開発者として勤めて頂きたいと思っております。なお、物語の展開、キャラの創造、アートディレクションとサウンドデザインの仕事を経験させて頂ければ嬉しいと思っております。
    </p>
    <p>
        イギリスのキングストン大学<a href="https://www.kingston.ac.uk/undergraduate-course/computer-games-programming/">科学、エンジニアリングとコンピューティング</a>学部コンピューターゲームプログラミング科の学生ですが、只今ソニー・インタラクティブエンタテインメントの本社でインターンシップを勤めて頂いております。
    </p>
    <p>
        プログラミング言語の専門はC++、C#とPythonでゲームエンジンの専門はUnrealとUnityです。
    </p>
    <p>
        ゲームを遊んだり、考えたり、作ったりしていない時には<a href="http://utsunomiya.hatenadiary.jp/entry/2017/10/18/222800">見ず知らずの音楽</a>を聞いたり、美味しいものを食べたりすることを楽しんでおります。
    </p>
    <br>
    <h2 style="color: rgb(22, 63, 150)">
        &#9733;<br>大変申し訳ございませんが、只今このサイトは準備中ですのでしばらくお待ちください<br>&#9733;
    </h2>
</div>
{% endblock %}