/* Variables */
:root {
    --col-bg-main: rgb(0, 4, 8);
    --col-bg-main-op07: rgba(0, 4, 8, 0.7);
    --col-bg-overlay: rgb(4, 9, 14);
    --col-bg-header: rgb(143, 38, 39);

    --col-work-page: rgb(20, 20, 20);

    --col-pre-offwhite: rgb(245, 245, 245);
    --col-pre-text-standard: rgb(202, 202, 202);
    --col-pre-lightgrey: rgb(128, 128, 128);
    --col-pre-red: rgb(143, 38, 39);
    --col-pre-highlight-overred: rgb(134, 227, 255);
    --col-pre-worktext: rgb(220, 106, 106);
    --col-pre-worktext-highlight: rgb(231, 200, 66);
    --col-pre-worktext-link: rgb(66, 150, 231);

    --num-header-height: 40px;
    --num-header-height-mob: 80px;
}

/* Generic */
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--col-bg-main);
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
    box-sizing: content-box;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-top: var(--num-header-height);
}

/* Presets */
.p-overlay-fill {
    top: 0;
    right: 0;
    left: 0;    
    bottom: 0;
}

/* Flex */
.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-style {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.f-header-special {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-s-vertical {
    flex-direction: column;
}

.f-align-start {
    align-items: flex-start;
}

.f-align-end {
    align-items: flex-end;
}

/* Helpers */
.h-force-system-font {
    font-family: 'メイリオ' , Meiryo , 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif !important;
}

.h-text-col-white { color: var(--col-pre-offwhite) !important; }

.h-fade-out-easein-1s {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s ease-in;
}

.h-fixed {
    position: fixed;
}

.h-noselect {
    user-select: none;
}

.h-blackfade-bottomtop {
    background: -moz-linear-gradient(top, rgba(4,6,7,0) 30%, rgba(2,5,8,0) 10%, rgba(0,4,8,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(4,6,7,0) 30%,rgba(2,5,8,0) 10%,rgba(0,4,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(4,6,7,0) 30%,rgba(2,5,8,0) 10%,rgba(0,4,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040607', endColorstr='#000408',GradientType=0 ); /* IE6-9 */
}

.h-absolute {
    position: absolute;
}

.h-bold {
    font-weight: 500;
}

.h-link-hl:hover, .h-link-hl:hover a {
    color: var(--col-pre-highlight-overred) !important;
}

.h-link-hl:hover img {
    filter: none;
}

.h-centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.h-hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}

.h-scrollauto {
    scroll-behavior: auto;
}

.d-grain::after {
    content: "";
    background-image: url("../images/mask.png");
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
    pointer-events: none;
}

/* Specific formatting */
.info-subsection {
    line-height: 18px;
    margin: 4px 0;
}

.info-img {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    filter: brightness(0) invert(1);
}

.work-item {
    position: relative;
    flex-basis: calc(26% - 60px);
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(167, 167, 167);

    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
}

.work-item:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.work-item-wrapper {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    position: relative;    
}

.work-img:hover {
    transform: scale(1.1);
}

.work-page {
    box-sizing: border-box;
    cursor: default;
    position: fixed;
    top: calc(0px + var(--num-header-height));
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--col-work-page);
    z-index: 1;
    opacity: 1;
    visibility: visible;
    padding: 0 20px 20px 20px;
    transition: none;
}

.work-page-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    transition: opacity 0.2s ease-out, visibility 0.2s linear;
}

.work-page-xbutton {
    position: fixed;
    top: calc(15px + var(--num-header-height));
    right: 15px;
    line-height: 1em;
    font-size: 32px;
    cursor: pointer;
    text-shadow: 2px 2px 1px black;
    z-index: 2;
    margin: 0 2px;
}

.work-page-xbutton:hover {
    transform: scale(1.1);
}

.work-vid-wrapper {
    width: 800px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.work-vid {
    max-width: 100%;
    display: block;
    cursor: pointer;
    margin: auto;
}

.video-play-button {
    font-size: 48px;
    line-height: 0;
    transform-origin: center;
    text-shadow: 0 0 40px black;
    cursor: pointer;
    transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
    opacity: 1;
    visibility: visible;
}

.work-vid-wrapper:hover .video-play-button {
    font-size: 52px;
}

.work-header {
    text-align: left;
    margin: 15px auto;
    width: 800px;
}

.work-vid-meta {
    max-width: 800px;
    margin: 2px auto;
    font-size: 12px;
    color: var(--col-pre-text-standard);
}

.work-para-prim {
    max-width: 1000px;
    margin: 20px auto;
    color: var(--col-pre-offwhite);
}

.work-para-sec {
    max-width: 1000px;
    margin: 10px auto;
    font-size: 14px;
    color: var(--col-pre-text-standard);
}

.work-para-deco {
    
}

.work-para-link {
    color: var(--col-pre-worktext-highlight);
    text-decoration: none;
}

/* IDs */
#loading-overlay {
    background-color: var(--col-bg-overlay);
    z-index: 100;
}

#loading-overlay-progressbar {
    width: 0;
    height: 2px;
    background-color: var(--col-pre-lightgrey);
    align-self: flex-start;
    transition: width 0.2s linear;
}

#header {
    top: 0;
    width: 100%;
    height: var(--num-header-height);
    box-sizing: border-box;
    background-color: var(--col-bg-header);
    border-color: var(--col-pre-offwhite);
    border-bottom: 1px solid var(--col-pre-lightgrey);
    z-index: 2;
    font-size: 20px;
    box-shadow: 0 0 22px 10px var(--col-bg-main);
}

#header-links {
    font-size: 14px;
}

#header a {
    text-decoration: none;
    text-align: center;
    color: var(--col-pre-text-standard);
    margin: -0.2em 15px 0 15px;
    height: 100%;
}

#video-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    pointer-events: none;
    overflow: hidden;
}

#video-wrapper video {
    width: 100%;
    height: 56.25vw; 
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#scroll-down-indicator-wrapper {
    bottom: 0;
    width: 100%;
}

#scroll-down-indicator {
    width: 80px;
    animation: kf-flash linear 3s infinite;
}

#info {
    background: var(--col-pre-red);
    position: relative;
    color: var(--col-pre-text-standard);
    padding: 10px 20px;
    font-size: 14px;
    border-color: var(--col-pre-offwhite);
    box-shadow: 0 0 22px 10px var(--col-bg-main);
    border-top: 1px solid var(--col-pre-lightgrey);
}

#info a {
    backface-visibility: hidden;
    color: white;
    text-decoration: inherit;
    font-size: inherit;
}

#work {
    width: 100%;
    background-color: var(--col-bg-main);
    margin: 50px 0;
    position: relative;
}

#work-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#work-section-anchor {
    top: calc(-1.5 * var(--num-header-height));
    position: absolute;
    width: 100%;
    height: 0;
}

/* Animation frames */
@keyframes kf-flash {
    0% { opacity: 0; } 
    50% { opacity: 0.8; } 
    100% { opacity: 0; }
}

@keyframes kf-shake {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }

/* Media queries */

@media screen and (max-width: 1260px) {
    .work-item {
        flex-basis: calc(32% - 40px);
    }
}
@media screen and (max-width: 650px) /* Mobile */ {
    body {
        padding-top: var(--num-header-height-mob);
    }

    #header {
        height: var(--num-header-height-mob);
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
    }

    #header-links {
        font-size: 16px;
        margin: 10px 0;
    }

    .info-style {
        flex-direction: column-reverse;
    }

    .info-subsection {
        font-size: 12px;
        
    }

    #info-contact, #info-details {
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .info-img {
        width: 12px;
        height: 12px;
        margin-left: 6px;
    }
    
    .work-item {
        flex-basis: calc(96% - 10px);
        margin: 5px;
    }

    .work-img:hover {
        transform: none;
    }

    .work-item:before {
        padding-top: 56.498%;
    }

    .work-page {
        top: calc(0px + var(--num-header-height-mob));
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        border: none;
    }

    .work-page-xbutton {
        top: calc(8px + var(--num-header-height-mob));
        right: 8px;
        font-size: calc((100vw + 100vh) * 0.03);
    }

    #work-section-anchor {
        top: calc(-1.1 * var(--num-header-height-mob));
    }

    #video-wrapper {
        height: 85vh;
    }

    .video-play-button {
        font-size: 36px;
        line-height: 0;
    }
    
    .work-vid-wrapper:hover .video-play-button {
        color: inherit;
        text-shadow: none;
        font-size: 36px;
        line-height: 0;
    }

    .work-header {
        margin: 10px;
        width: 100%;
        line-height: calc((100vw + 100vh) * 0.025);
        font-size: calc((100vw + 100vh) * 0.025);
    }

    .work-vid-meta {
        font-size: calc(100vw / 35);
        text-align: center;
    }

    .work-para-prim {
        font-size: calc((100vw - 8px) / 30 );
        margin: 6px auto 2px auto;
        padding: 0 4px;
    }

    .work-para-sec {
        font-size: calc((100vw - 8px) / 30 );
        margin: 4px auto;
        padding: 0 4px;
    }
}
